<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>Dashboard | Municipal Money</title>

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
	{% load staticfiles %}
	
		<!-- <link rel='stylesheet' href="{% static 'assets/css/bootstrap.css' %}" type='text/css'>  -->
		<link rel='stylesheet' href="{% static 'assets/css/bootstrap.min.css' %}" type='text/css'>
		<link rel='stylesheet' href="{% static 'assets/font-awesome/4.5.0/css/font-awesome.min.css' %}" type='text/css'>

		<!-- page specific plugin styles -->

		<!-- text fonts -->
		<link rel='stylesheet' href="{% static 'assets/css/fonts.googleapis.com.css' %}" type='text/css'>

		<!-- ace styles -->
		<link rel="stylesheet" href="{% static 'assets/css/ace.min.css' %}" class="ace-main-stylesheet" id="main-ace-style" />
		<link rel='stylesheet' href="{% static 'assets/css/ace-skins.min.css' %}" type='text/css'>
		<link rel='stylesheet' href="{% static 'assets/css/ace-rtl.min.css' %}" type='text/css'>
		<!--[if lte IE 9]>
			<link rel="stylesheet" href="assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
		<![endif]-->
		

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->
		
		

		<!-- <![endif]-->

		<!--[if IE]>
<script src="assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script type='text/javascript' src='{% static &quot; assets/js/jquery.mobile.custom.min.js &quot;'>"+"<"+"/script>");
		</script>
		
		<!-- <script type="text/javascript" src="{% static 'assets/js/bootstrap.js' %}"></script> -->
		<script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/jquery.js' %}"></script>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="assets/js/excanvas.min.js"></script>
		<![endif]-->
		 <script type="text/javascript" src="{% static 'info/latexit.js' %}"></script>
		<script  type="text/javascript" src="{% static 'assets/js/ace.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/jquery-2.1.4.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/jquery-ui.custom.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/jquery.ui.touch-punch.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/jquery.easypiechart.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/jquery.sparkline.index.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/jquery.flot.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/jquery.flot.pie.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/jquery.flot.resize.min.js' %}"></script>

		<script type="text/javascript" src="{% static 'assets/js/ace-extra.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bubblechart/bubble.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/ace.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/ace-elements.min.js' %}"></script>
	

	</head>

	<body class="no-skin">
		<div id="navbar" class="navbar navbar-default          ace-save-state">
			<div class="navbar-container ace-save-state" id="navbar-container">
				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
					<span class="sr-only">Toggle sidebar</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>

				<div class="navbar-header pull-left">
					<a href=".." class="navbar-brand">
						<small>
							<i class="fa fa-university"></i>
							Municipal Money
						</small>
					</a>
				</div>

				
			</div><!-- /.navbar-container -->
		</div>

		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>

			<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
				<script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
				</script>

				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
					<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
						<button class="btn btn-info">
							<i class="ace-icon fa fa-facebook"></i>
						</button>

						<button class="btn btn-info">
							<i class="ace-icon fa fa-twitter"></i>
						</button>

						<button class="btn btn-info">
							<i class="ace-icon fa fa-skype"></i>
						</button>

						<button class="btn btn-success">
							<i class="ace-icon fa fa-whatsapp"></i>
						</button>
					</div>

					<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
						<span class="btn btn-success"></span>

						<span class="btn btn-info"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-danger"></span>
					</div>
				</div><!-- /.sidebar-shortcuts -->

				<ul class="nav nav-list">
					<li class="active">
						<a href="..">
							<i class="menu-icon fa fa-spinner"></i>
							<span class="menu-text"> Dashboard </span>
						</a>

						<b class="arrow"></b>
					</li>
					
					<li class="">
						<a href="avarageProfile">
							<i class="menu-icon fa fa-university"></i>
							<span class="menu-text"> Profiles </span>
						</a>

						<b class="arrow"></b>
					</li>
					
					<li class="">
						<a href="SVMpage">
							<i class="menu-icon fa fa-line-chart"></i>
							<span class="menu-text"> Profile Predictions </span>
						</a>

						<b class="arrow"></b>
					</li>
					
					
					
					<li class="">
						<a href="classify">
							<i class="menu-icon fa fa-bar-chart"></i>
							<span class="menu-text"> Employment Predic... </span>
						</a>

						<b class="arrow"></b>
					</li>
					


					<li class="">
						<a href="sunburst">
							<i class="menu-icon fa fa-money"></i>
							<span class="menu-text"> Income </span>
						</a>

						<b class="arrow"></b>
					</li>
					
					
					<li class="">
						<a href="ExpenseSunburst">
							<i class="menu-icon fa fa-cc-mastercard"></i>
							<span class="menu-text"> Expenditure </span>
						</a>

						<b class="arrow"></b>
					</li>
					
					
						<li class="">
						<a href="tree">
							<i class="menu-icon fa fa-sitemap"></i>
							<span class="menu-text"> Decision Tree </span>
						</a>

						<b class="arrow"></b>
					</li>
					
						<li class="">
						<a href="document">
							<i class="menu-icon fa fa-file-pdf-o"></i>
							<span class="menu-text"> Documentations </span>
						</a>

						<b class="arrow"></b>
					</li>
					
</ul>

							

				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>

			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="..">Home</a>
							</li>
							<li class="active">Concepts and Measures</li>
						</ul><!-- /.breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- /.nav-search -->
					</div>

					<div class="page-content">
						

						<div class="page-header">
							<h1>
								Profiling of Municipalities:
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									overview &amp; stats
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="alert alert-block alert-success">
									<button type="button" class="close" data-dismiss="alert">
										<i class="ace-icon fa fa-times"></i>
									</button>

									<i class="ace-icon fa fa-check green"></i>

									Welcome to
									<strong class="green">
										Municipal Money
										<small>(v1.0)</small>
									</strong>,
	Our data was acquired through National Treasure and Youth Explorer. Please note that we do not have rights for the data used. <a href="http://www.csir.co.za">&copy;2018 Project by CSIR</a>

								</div>

 


    The profiling concept has been developed in order to categorise municipalities based on their efficiency and service delivery.
    Furthermore it allows municipal managers to see which municipalities require immediate intervention.
    The visual below describes the different categories based on the wellbeing and efficiency measure, explanations for which can be seen below. Furthermore the profiles are numbered according to the quadrants of the cartesian plane.
    <br>
    <br>
    <center><img width=50% height="auto" src="{% static 'info/profile.jpg' %}" alt="cartesian profile"></center>
    <br>
    <br>
    <h4 class="page-header">Profile Measures:</h4>
    <ul>
        <li> <b>Wellbeing Measure:</b>This essentially measures the extent of service delivery received by the youth. Namely electricity, piped water, flushing toilets and internet access is measured. The proportion of youth that have access to the following services is measured. These proportions are then added together and weighted equally to produce a measure between 0 and 1. 
        </li><br>
        <br>
        <li> <b>Efficiency Measure:</b>This measures the extent to which municipalities waste funds. A proportion is calculated of wasted funds to operating expenditure. This proportion is then normalised to lie between 0 and 1:
        </li>
        <br>
        <br>
        <center>
        <div lang="latex">
          waste  = \frac{wasted expenditure}{operating expenditure}\\
                waste =  \frac{waste - min(waste)}{max(waste) - min(waste)}
        </div>
        </center>
        <br>
        <br>
        From here the efficiency measure is calculated as follows:
        <center>
        <div lang="latex"> efficiency  =  1 - waste</div></center>
        <br>
        <br>
    </ul>

   		<div class="page-header">
							<h1>
								Modeling:
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									Profile and Youth Employment Predictions 
								</small>
							</h1>
						</div><!-- /.page-header -->
    <h4 class="page-header">Profile Prediction:</h4>
    A Support Vector Machine (SVM) model has been developed in order to predict which profile a municipality will belong to.
    You can input values for measures that were found to be significant and obtain a profile prediction based on these values. The SVM model has been trained and tested reaching an accuracy of 88%.
    <br>
    <br>
    Explanations of the financial input variables for the SVM model:<br>
    <ul>
         <li> <b>repairs-PPE ratio:</b>This measures repairs and maintenance as a proportion of property, Plant and Equipment (PPE). Furthermore it gives insight into whether adequate repairs and maintenance is occuring to ensure that there are no breakdowns or interruptions to service delivery. 
        </li> <br>
        <br>
        <center>
                <div lang="latex">
                    repairs PPE = \frac{Repairs And Maintenance Expenditure}{PPE value + Investment Property} </div></center>
        <br>
        <br>
        <li> <b>Net Operating Surplus Margin:</b>This is an efficiency measure calculated as follows:
        </li><br>
        <br>
        <center>
                <div lang="latex">
            Net Operating Surplus Margin = \frac{Total Operating Revenue - Total Operating Expenditure }{Total Operating Revenue} </div></center>
        <br>
        <br>

        <li> <b>Current Ratio:</b>This measure gives an indication of whether the municipality is able to pay back it's short term liabilities.
        </li><br>
        <br>
        <center>
                <div lang="latex">
                        Current Ratio = \frac{Current Assets }{Current Liabilities} </div></center>
        <br>
        <br>
    </ul> 
   <h4 class="page-header">Youth Employment Opportunity:</h4>
Employment opportunity refers to the proportion of youth that are employed within a municipality. Associations to the employment proportion are explored through the regression tree model. From this model it can be seen which variables are significantly associated to a certain employment proportion. Furthermore you can follow the branches of the regression tree to see the magnitude of these variables that is associated to a given level of employment.
<br>
<br>
Furthermore a random forest model has been developed for prediction purposes. Here you can input proportions for the variables that were found to be significant and get a prediction of the employment proportion based on the input values. This model has been trained and tested on 277 municipalites obtaining an accuracy of 97%.



    
    

    
    



    
    
    </body>
</html>