body {
  padding: 50px;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#heatmapContainer {
	width: 1000px;
	height: 500px;
}

#heatmapContainerWrapper{
	width: 100%;
	height: 100%;
}
